* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    font-size: 2.5rem;
}

#btnDiv {
    text-align: center;
    margin: 2rem;
    padding: 2rem;
}

#gridDiv {
    text-align: center;
}
