* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grid-columns: 1;
    --grid-rows: 1;
}

body {
    background-color: rgb(165, 54, 54);
}

button {
    font-size: 2.5rem;
    border-radius: 1rem;
    border: 1px solid black;
}

#btnDiv {
    text-align: center;
    margin: 2rem;
    padding: 2rem;
}

#gridDiv {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(var(--grid-rows), 1fr);
    grid-template-rows: repeat(var(--grid-columns), 1fr);
}

.grid-item {
    background-color: grey;
}

