* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grid-columns: 1;
    --grid-rows: 1;
}

body {
    background-color: rgb(165, 54, 54);
}

button {
    font-size: 2.5rem;
    border-radius: .75rem;
    border: 1px solid black;
    margin: 1rem;
}

button:hover {
    background-color: black;
    color: white;
    cursor: pointer;

}
#btnDiv {
    text-align: center;
}

#gridDiv {
    display: grid;
    grid-gap: 1px;
    min-height: 80vh;
    justify-content: center;
    grid-template-columns: repeat(var(--grid-rows), 50px);
    grid-template-rows: repeat(var(--grid-columns), 50x);
}

.grid-item {
    background-color: grey;
}

.grid-item-darkened {
    background-color:black;
}

